
body
{
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.clock
{
  width: 250px;
  height: 250px;
  background: #f9eae6;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.hand
{
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%);
  border-radius: 5px;
}

.hand.hour
{
 width: 8px;
  height: 60px;
  background: #c76b6b;
}

.hand.minute
{
  width: 6px;
  height: 90px;
  background: #8b4e4e;
}
